{% extends "base.html" %} {% block content %}
<h2><u>Lambda DS20 - DS21 (TT9)</u></h2>
<h3>Anthony - Indrejue</h3>
<h3>Jacob - MaxTechniche</h3>
<h3>Josh - Jroc561</h3>
<h3>Shannon - augurnaut</h3>
<p style="word-wrap: break-word; width: auto">
  Med Cabinet for new cannabis consumers, especially those trying to get off of
  pharmaceuticals, who want to use cannabis as a means to battle medical
  conditions and ailments. Help patients find the right strains and intake! Use user 
  data along with strain data to build ML models to guide recommendations.
</p>
{% endblock %}
