
{% extends "base.html" %} {% block content %}
<h2><u>Strain recommender</u></h2>
<h3>Helping new cannabis consumers find the right strains</h3>

<div id="container">  
<section class="indent-1">
<h4><u> Category: </u></h4>
<form action="/results" method="post">
  <div class="form-group">
    <select id="categories" name="categories" multiple class="form-control">
      {% for category in categories %}
      <option value="category_{{ category }}">{{ category }}</option>
      {% endfor %}
    </select>
  </div>
  <h4><u> Ailments: </u></h4>
  <div class="form-group">
    <select id="ailments" name="ailments" multiple class="form-control">
      {% for ailment in ailments %}
      <option value="ailment_{{ ailment }}">{{ ailment }}</option>
      {% endfor %}
    </select>
  </div>
  </section>

  <section class="indent-2">
  <h4><u> Desired Effect: </u></h4>
  <div class="form-group">
    <select id="effects" name="effects" multiple class="form-control">
      {% for effect in effects %}
      <option value="effect_{{ effect }}">{{ effect }}</option>
      {% endfor %}
    </select>
  </div>
  <h4><u> Flavor: </u></h4>
  <div class="form-group">
    <select id="flavors" name="flavors" multiple class="form-control">
      {% for flavor in flavors %}
      <option value="flavor_{{ flavor }}">{{ flavor }}</option>
      {% endfor %}
    </select>
  </div>
 </section>
</div>  
  <input type="submit" value="Get results " />
</form>
{% endblock %}

