{% extends "base.html" %} {% block content %}
<h2><u>Scrubbing Data according to the Objective</u></h2>
<p>
  We want to generate weed strain recommendations based on quantifiable
  preferences- which was surprisingly difficult to find. There were only a
  handful of datasets that were appropriate for our objective- we selected
  product and strain descriptors from KushyApp
  (<a href="url">https://github.com/kushyapp/cannabis-dataset/tree/master/Dataset</a>) and we
  selected our ratings from Kaggle user kingburrito666
  (<a href="url">https://www.kaggle.com/kingburrito666/cannabis-strains</a>). It was necessary to
  incorporate some sort of demand metric since the KushyApp data only had
  descriptive variables and did not have any data that reflected desirability of
  the consumer.
</p>
<h3>Our Predictive Model:</h3>
<p>
<b>Inputs:</b> Category -what type of substance is preferred? Liquid? Vape? Edible?
  Smoking? Ailments -what physical/mental symptoms does the consumer want to
  address? Desired Effect -what should the consumer expect to feel after
  consumption? Flavor- 
</p>
<p><b>Outputs:</b> 5 recommendations with Brand and Product Name</p>
<h3>Natural Language Processing:</h3>
<p>
  We did some rudimentary topic modeling- we parsed the descriptions in
  category, ailment, flavor, and effects into individual columns in order to be
  effectively used in our predictive model. Because most of the variables
  describing each product were categorical, k-nearest neighbors seemed like the
  best option for our topic modeling.
</p>
{% endblock %}
